.main-div img {
  width: 100px;
}

.main-div {
  border: 1px solid black;
  width: 200px;
  margin-bottom: 2rem;
}

.outer-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

button {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
